@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* 
.main_cont{
position: relative;
   
} */


.content_cont{
  background-color: red;
  display: inline-block;
  width: 50%;
  height: 70%;
  position: absolute;
  top: 6%;
  left: 50%;
  background-color: #010c12;
  /* border: 3px solid white; */
  border-radius: 2%;
  background-color:  #11ffee00;

   
}

.second_cont{
  position: absolute;
  background-color:  #11ffee00;
  display: inline-block;
  width: 84%;
  height: 80%;
  
  top: 10%;
  left: 8%;
  border-radius: 2%;
  /* opacity: 0.7; */
  /* visibility: hidden; */

}


.options{
  width : 40%;
}

.content{
  display: inline-block;
  
  height: 70%;
  width: 70%;
  position: relative;
  top: 15%;
  left: 15%;

}


.logo{
  width: 15%;
  height: 20%;
  color: white;
  margin-bottom: 15%;
}


.labels{
  font-size: 140%;
  margin-bottom: 5%;
  color: white;
  display: inline-block;
  width: 40%;
  position: relative;
  left: 20%;
}

.signIn{
  margin-bottom: 10% ;
  width: 150%;
  color: white;
  font-weight: 900;
}

.options{
  height: 10%;
  position: relative;
  left: 20%;
}

.btn{
  display: inline-block;
  margin-top: 5%;
  width: 25%;
  position : relative;
  left:32%;
  border : 2px solid white; 

}
