/* .lastCont{
    align-items: center;
} */

.btn{
    position: absolute;
    top : 12%;
    /* right: 80%; */
    margin-left: 6%;
    display: inline-block;
    width: 5%;
    background-color: #010C12;
    
}